.mens-heading{
    border: solid 2px black;
    .link{
        color: black;
    }
}

.mens-featured{
    border: 2px solid purple;
}

.mens-featured-item{
    border: 2px solid cyan;
    margin: 1rem;
}