@import "./sass/placeholders";
@import "./sass/Home.scss";
@import "./sass/Header.scss";
@import "./sass/Navbar.scss";
@import "./sass/Mens.scss";
@import "./sass/Womens.scss";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Gugi&display=swap");
h1 {
  font-weight: 300;
}
h1,
h3,
input,
textarea,
button,
h2,
p,
a {
  font-family: 'Comfortaa', cursive;
}

h2 {
  font-weight: 200;
}
html,
body {
  min-width: fit-content;
}
body,
ul,
li,
p,
a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

input {
  font-size: inherit;
}
